In [2]:
import numpy as np
import pandas as pd

In [45]:
df = pd.read_csv('pfm_train.csv')

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,Travel_Rarely,Research & Development,1,4,Life Sciences,77,1,Male,...,3,80,1,7,2,4,7,5,0,7
1,54,0,Travel_Frequently,Research & Development,1,4,Life Sciences,1245,4,Female,...,1,80,1,33,2,1,5,4,1,4
2,34,1,Travel_Frequently,Research & Development,7,3,Life Sciences,147,1,Male,...,4,80,0,9,3,3,9,7,0,6
3,39,0,Travel_Rarely,Research & Development,1,1,Life Sciences,1026,4,Female,...,3,80,1,21,3,3,21,6,11,8
4,28,1,Travel_Frequently,Research & Development,1,3,Medical,1111,1,Male,...,1,80,2,1,2,3,1,0,0,0
5,24,0,Travel_Rarely,Sales,4,1,Medical,1445,4,Female,...,3,80,2,5,3,3,5,4,0,3
6,29,0,Travel_Rarely,Research & Development,9,5,Other,455,2,Male,...,3,80,0,4,2,3,3,2,2,2
7,36,0,Travel_Rarely,Sales,2,2,Medical,513,2,Male,...,2,80,2,10,2,3,10,9,9,0
8,33,0,Travel_Rarely,Research & Development,4,4,Medical,305,3,Female,...,4,80,0,7,3,3,3,2,1,1
9,34,0,Travel_Rarely,Research & Development,2,4,Technical Degree,1383,3,Female,...,4,80,0,14,2,4,14,11,4,11
10,24,1,Travel_Rarely,Human Resources,22,1,Human Resources,1714,4,Male,...,3,80,1,1,2,3,1,0,0,0
11,35,0,Travel_Rarely,Research & Development,10,4,Medical,1587,1,Female,...,3,80,0,10,4,3,5,2,0,4
12,30,1,Travel_Rarely,Research & Development,3,3,Technical Degree,297,4,Female,...,3,80,0,8,5,3,5,2,0,4
13,54,0,Travel_Rarely,Research & Development,8,4,Life Sciences,578,3,Female,...,3,80,0,19,3,3,1,0,0,0
14,34,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1447,4,Female,...,1,80,1,7,2,2,5,4,0,2
15,47,0,Travel_Rarely,Sales,2,4,Life Sciences,925,4,Female,...,1,80,0,3,3,2,3,2,1,2
16,36,0,Non-Travel,Sales,15,4,Marketing,2036,4,Male,...,1,80,1,15,4,2,15,12,11,11
17,35,0,Travel_Rarely,Research & Development,1,4,Medical,1172,4,Male,...,2,80,1,10,2,3,8,0,1,7
18,29,0,Travel_Rarely,Sales,19,3,Life Sciences,1497,3,Male,...,3,80,2,10,3,3,10,7,0,4
19,56,1,Travel_Rarely,Research & Development,14,4,Life Sciences,161,2,Female,...,1,80,3,7,2,3,5,4,4,3
20,45,0,Travel_Rarely,Research & Development,10,2,Life Sciences,544,1,Male,...,4,80,2,8,3,2,2,2,0,2
21,46,0,Travel_Rarely,Research & Development,1,4,Medical,288,4,Male,...,3,80,1,17,3,3,4,2,0,3
22,39,0,Travel_Rarely,Research & Development,10,1,Medical,1800,3,Male,...,3,80,0,9,3,3,4,3,2,2
23,52,0,Travel_Rarely,Sales,3,4,Marketing,776,3,Male,...,1,80,0,34,3,4,34,6,1,16
24,32,0,Non-Travel,Research & Development,1,3,Life Sciences,951,3,Female,...,3,80,0,5,3,3,3,0,0,2
25,46,0,Travel_Frequently,Research & Development,18,1,Medical,624,1,Female,...,4,80,0,28,3,2,2,2,1,2
26,28,0,Travel_Rarely,Research & Development,17,2,Medical,536,3,Male,...,4,80,1,10,2,3,10,0,1,8
27,29,0,Travel_Rarely,Research & Development,23,2,Life Sciences,824,3,Male,...,3,80,1,10,3,3,10,7,0,7
28,39,0,Travel_Rarely,Sales,24,1,Marketing,2056,2,Female,...,1,80,1,21,2,2,20,9,9,6
29,33,0,Travel_Rarely,Research & Development,9,3,Medical,1238,1,Male,...,2,80,1,15,5,3,14,10,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,36,0,Travel_Rarely,Research & Development,7,3,Life Sciences,1659,1,Male,...,3,80,0,15,4,3,4,3,1,3
1071,38,0,Travel_Rarely,Sales,14,3,Life Sciences,1582,3,Male,...,4,80,1,10,3,3,9,8,7,7
1072,26,1,Non-Travel,Sales,29,2,Medical,1037,2,Male,...,4,80,0,7,6,3,2,2,2,2
1073,37,0,Travel_Rarely,Research & Development,19,3,Life Sciences,1631,3,Male,...,1,80,3,9,2,2,4,3,0,2
1074,42,0,Travel_Frequently,Research & Development,9,2,Medical,1480,1,Female,...,3,80,0,12,3,3,12,9,5,8
1075,37,0,Travel_Rarely,Research & Development,10,1,Life Sciences,802,4,Female,...,2,80,2,6,3,2,5,3,4,3
1076,30,1,Travel_Frequently,Human Resources,8,3,Human Resources,1747,3,Female,...,3,80,1,6,0,2,4,2,1,2
1077,32,0,Travel_Rarely,Research & Development,5,4,Life Sciences,1966,4,Male,...,2,80,0,8,1,3,1,0,0,0
1078,23,0,Travel_Rarely,Research & Development,1,2,Life Sciences,1270,4,Male,...,4,80,1,1,2,3,1,0,0,1
1079,31,0,Travel_Rarely,Research & Development,5,4,Technical Degree,423,3,Male,...,3,80,1,6,4,3,5,2,0,3
1080,42,0,Travel_Rarely,Research & Development,2,3,Medical,351,4,Female,...,3,80,1,10,4,3,9,6,7,8
1081,40,0,Non-Travel,Research & Development,8,2,Life Sciences,1552,4,Male,...,3,80,0,8,2,3,2,2,2,2
1082,44,0,Travel_Rarely,Research & Development,2,1,Life Sciences,1246,1,Female,...,4,80,1,10,5,3,10,5,7,7
1083,49,0,Travel_Frequently,Sales,2,3,Medical,2065,4,Male,...,4,80,0,17,3,2,9,6,0,8
1084,29,0,Travel_Rarely,Sales,20,2,Marketing,349,4,Male,...,4,80,1,10,2,3,3,2,0,2
1085,35,0,Travel_Rarely,Research & Development,22,3,Life Sciences,381,2,Female,...,2,80,1,10,6,2,7,7,6,2
1086,26,0,Travel_Rarely,Research & Development,23,3,Life Sciences,560,1,Female,...,2,80,2,3,3,1,3,2,0,2
1087,29,0,Travel_Frequently,Research & Development,1,3,Life Sciences,1753,4,Male,...,4,80,0,10,5,4,3,2,0,2
1088,30,0,Travel_Rarely,Research & Development,17,4,Medical,1321,2,Female,...,4,80,2,9,2,3,9,1,0,8
1089,31,0,Travel_Rarely,Human Resources,2,3,Human Resources,424,1,Male,...,4,80,0,9,1,3,2,2,1,0
1090,33,0,Travel_Rarely,Human Resources,3,2,Human Resources,910,4,Male,...,3,80,1,7,4,4,4,3,0,3
1091,42,0,Travel_Rarely,Research & Development,23,5,Life Sciences,468,1,Female,...,2,80,0,16,2,3,1,0,0,0
1092,35,0,Travel_Frequently,Research & Development,18,2,Life Sciences,1412,3,Male,...,3,80,0,10,2,3,2,2,2,2
1093,38,1,Travel_Rarely,Research & Development,2,3,Medical,1573,3,Male,...,1,80,2,7,2,3,5,2,1,4
1094,50,0,Travel_Frequently,Research & Development,20,5,Medical,1606,2,Male,...,3,80,1,32,3,3,30,8,12,13
1095,35,0,Travel_Rarely,Research & Development,23,4,Medical,75,3,Female,...,3,80,1,4,3,3,2,2,2,2
1096,38,0,Travel_Rarely,Sales,2,4,Marketing,1835,2,Female,...,1,80,2,20,4,2,4,2,0,3
1097,37,0,Travel_Rarely,Sales,16,4,Marketing,868,4,Male,...,4,80,2,9,2,3,1,0,0,0
1098,22,1,Travel_Rarely,Research & Development,7,1,Life Sciences,1878,4,Male,...,1,80,0,1,2,3,1,0,0,0
1099,26,1,Travel_Frequently,Research & Development,2,3,Life Sciences,1053,1,Male,...,2,80,1,6,2,3,3,2,1,2

In [56]:
X = df.drop('Attrition', axis=1)
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

SyntaxError: invalid syntax (<ipython-input-56-e790c7a28ba5>, line 2)

需要创建**虚拟特征**的column

BusinessTravel、Department、EducationField、Gender、JobRole、MaritalStatus

In [55]:
X.ix[23]

Age                                    52
BusinessTravel              Travel_Rarely
Department                          Sales
DistanceFromHome                        3
Education                               4
EducationField                  Marketing
EmployeeNumber                        776
EnvironmentSatisfaction                 3
Gender                               Male
JobInvolvement                          2
JobLevel                                4
JobRole                           Manager
JobSatisfaction                         1
MaritalStatus                     Married
MonthlyIncome                       16856
NumCompaniesWorked                      1
Over18                                  Y
OverTime                               No
PercentSalaryHike                      11
PerformanceRating                       3
RelationshipSatisfaction                1
StandardHours                          80
StockOptionLevel                        0
TotalWorkingYears                      34
TrainingTimesLastYear                   3
WorkLifeBalance                         4
YearsAtCompany                         34
YearsInCurrentRole                      6
YearsSinceLastPromotion                 1
YearsWithCurrManager                   16
Name: 23, dtype: object